<a href="https://colab.research.google.com/github/Sravs2002/coding/blob/master/210923.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
n=input().capitalize()
s="Good Morning"
s=s.upper()
if n in s:
  print(s.count(n))
else:
  print("0")

G
2

In [26]:
class Student:
  def __init__(self,name,rollno,marks):
    self.name=name
    self.rollno=rollno
    self.marks=marks

   def talk(self):
       print("t:",self.name)
       print("t:",self.rollno)
       print("t:",self.marks)

s1=Student("sravanthi",448,95)
s1.talk()

t: sravanthi
t: 448
t: 95

In [29]:
class Test:
  def __init__(self):
    print("sravanthi")
  def s1(self):
    print("448")
t1=Test()
t2=Test()
t1.s1()

sravanthi
sravanthi
448

In [34]:
class Student:
  def __init__(self):
    self.nitya=21
    self.vineela=21

  def talk(self):
    self.likitha=21
t=Student()
t.talk()
t.sravanthi=21
print(t.__dict__)

{'nitya': 21, 'vineela': 21, 'likitha': 21, 'sravanthi': 21}

In [43]:
class Student:
  def __init__(self):
    self.a=10
    self.b=20
  def m1(self):
    print(self.a)
    print(self.b)
t=Student()
t.m1()
print(t.a,t.b)

10
20
10 20